@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&400&600&700&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.sidebar-background{

  background: #4e73df;
}
.img-profile{
  width: 32px;
  height: 32px;
}
.dog{
        background: url("assets/dog.jpg");
        background-position: center;
        background-size: cover; 
        border-radius:8px 0px 0px 8px ;
 
}
.sidebar{
  background-color: #4e73df;
}

.subtitle{
  color: black;
  font-size: .85rem;
}

    .img-profile {
      width: 32px;
      height: 32px;
    }
  
    .topbar-divider {
      width: 0;
      border-right: 1px solid #d3d9eb;
      height: 35px;
      margin: auto 1rem;
    }
  
    .logo-color {
      color: #d3d9eb;
    }
  
    .badge-height {
      font-size: 8px;
    }
  
    .bg-color {
      background-color: #e8e9f2f3;
    }
  
    .text-xs {
      font-size: 10px;
      font-weight: 700;
    }
    .rotate-n-15 {
          transform: rotate(-15deg);
          font-size: 30px;
  }
  .title{
    
  }